* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow: auto;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem;
    height: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    background-color: #000;
    color: #fff;
    font-size: large;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
.navbar ul li + li::before {
    content: '/'; /* Add the slash before each item except the first */
    margin: 0 8px; /* Add space around the slash */
    color: gray; /* Style the slash */
}
  
.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.main-head {
    text-align: center;
    margin-top: 4rem;
}
.main-head h1 {
    font-family: 'Patrick Hand';
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.main-head p {
    font-family: 'Patrick Hand';
    font-size: 1.5rem;
    color: #808080;
}

.main-head::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 0.125rem solid black;
    margin: 1.875rem 0.125rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.2rem;
    margin: 1.25rem 0;
    overflow: auto;
}

.main-left {
    flex: 1 1 35%;
    padding: 1.2rem;
}

.main-left h2,
.main-middle h2,
.main-right h2 {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
}

.main-left ul {
    list-style-type: none;
    padding: 0;
}

.main-left ul li {
    margin: 0.625rem 0;
}

.main-left ul li + li::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 0.125rem solid black;
    margin: 0.875rem 0;
}

.main-middle {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.25rem;
}

.main-middle p,
.main-right p {
    margin-bottom: 0.625rem;
}

.main-middle a {
    text-decoration: none;
}

.main-right {
    flex: 1 1 35%;
    padding: 1.25rem;
}

.main-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-right ul li {
    position: relative;
    padding-left: 1.25rem;
}

.main-right ul li::before {
    content: "-";
    position: absolute;
    left: 0;
}
section h2 {
    margin-bottom: 1.5rem;
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.article div {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
}
.article div p strong {
    display: block;
}
.article div p:nth-of-type(2) {
    margin-top: 5px;
    color: #706e6ec5;
}

footer {
    text-align: center;
    font-family: 'Patrick Hand';
    font-style: italic;
    font-size: large;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .main-head {
        margin-top: 2rem;
    }

    .content {
        flex-direction: column;
    }

    .main-left, .main-middle, .main-right {
        flex: 1 1 100%;
        padding: 0;
    }

    .main-left ul li + li::before {
        content: "";
        display: block;
        width: 100%;
        border-top: none;
        margin: 0;
    }

    .article {
        flex-direction: column;
        align-items: flex-start;
    }

    .article div {
        width: 100%;
    }

    footer {
        margin-top: 2rem;
    }
}
/* Responsive Design for Mobile Screens */
@media (max-width: 480px) {
    .main {
        width: 100%;
    }
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        margin-bottom: 1rem;
    }
    .main-head {
        margin-top: 1.5rem;
    }

    .main-head h1 {
        font-size: 2rem;
    }

    .main-head p {
        font-size: 1rem;
    }

    .content {
        flex-direction: column;
        gap: 0;
    }

    .main-left ul li,
    .main-middle,
    .article div {
        width: 100%;
        background-color: #e0e0e0; 
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .main-left {
        background-color: transparent; 
    }

    footer {
        margin-top: 1rem;
        font-size: medium;
    }
}
