body {
    background-color: rgb(180, 236, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.container li {
    font-size: 15px;
    font-style: italic;
    list-style:square;
}