body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main-container {
    text-align: center;
}

.main-header h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.main-header p {
    color: #999;
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: calc(50% - 73px);
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    position: relative;
    white-space: nowrap;
    padding: 1rem;
}

.timeline-date {
    flex: 1;
    text-align: right;
    color: #999;
    font-size: 0.9rem;
    padding-right: 1rem;
}

.timeline-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    background-color: #000;
    flex-shrink: 0;
    margin: 0 0.625rem;
}

.timeline-event {
    flex: 1;
    text-align: left;
    font-size: 1rem;
    padding-left: 1.25rem;
    white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.changelog-btn {
    background-color: #333;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.changelog-btn:hover {
    background-color: #443838;
}